@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('../node_modules/bootstrap/');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Rubik+Gemstones&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#map{
  width: 100%;
}


#cardcontainer{
  width:100%;
  height:100vh;
  padding:100px 0px;
  background-image: url('https://img.freepik.com/free-vector/flower-poster-wallpaper-background-aesthetic-design-vector-remixed-from-vintage-public-domain-images_53876-136360.jpg?semt=ais_hybrid&w=740&q=80');
}







.card{
  width:600px;
  aspect-ratio:2/3;
  perspective:1000px;
  transform-style:preserve-3d;
  margin:100px auto;
  cursor:pointer;
  transition: transform 1s;
  position: relative;
  animation: float 10s linear infinite alternate;
  box-shadow: 2px 2px 10px white;
}

.card:hover{
  animation-play-state: paused;
}

.cb{
  position:absolute;
  width:inherit;
}

.back{
  transform:rotateY(180deg);
  backface-visibility: hidden;
}


.fireworks-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  transition: opacity 1s ease;
}



@keyframes float {
  0% {
    transform: 
    rotateY(0deg)
    rotateZ(-10deg)
    rotateX(10deg)
  }

  100% {
    transform:
    rotateY(360deg)
    rotateZ(10deg)
    rotateX(-10deg)
  }
}



img{
  width:100%;
  aspect-ratio:2/3;
  object-fit:cover;
}

.hint {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  text-shadow: 0 0 10px black;
  animation: fadeInOut 3s ease-in-out infinite;
  font-family: cursive;
  margin-top: -60px;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.3; transform: translateY(0); }
  50% { opacity: 1; transform: translateY(-5px); }
}


@media screen and (max-width:768px) {

  body{
    background-position: center;
  }
  .card:hover{
    animation-play-state: running;
  }
 
  p{
    font-size: 3rem !important;
    width: 90% !important;
  }
  .card{
    width: 100%;
    margin: 0 auto;
     animation: none;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    transition: transform 0.1s ease-out;
    cursor: grab;
  }
.cardbox{
  background-color: transparent;
  perspective: 1200px;
  width: 80%;
  margin: auto;
}
  
}